export(lbsAssess)
export(lbsTidy)
export(lbsClear)
export(lbsDeleteAllAuthorsDocuments)
export(lbsConnect)
export(lbsCreate)
export(lbsFindDuplicateTitles)
export(lbsFindDuplicateAuthors)
export(lbsDeleteDocuments)
export(lbsMergeAuthors)
export(lbsGetCitations)
export(lbsImportDocuments)
export(lbsGetInfoAuthors)
export(lbsGetInfoDocuments)
export(as.character.docinfo)
export(print.docinfo)
export(as.character.authorinfo)
export(print.authorinfo)
export(lbsSearchAuthors)
export(lbsSearchDocuments)
export(lbsDescriptiveStats)
export(dhirsch)
export(phirsch)
export(pareto2.phirsch)
export(pareto2.dhirsch)
export(rpareto2)
export(ppareto2)
export(qpareto2)
export(dpareto2)
export(dsstat)
export(psstat)
export(discrpareto2.mleksestimate)
export(discrpareto2.mlekestimate)
export(discrpareto2.goftest)
export(dbExecQuery)
export(index.h)
export(index.g)
export(index.rp)
export(index.lp)
export(Sstat2)
export(Sstat)
export(plot.citfun)
export(curve.add.rp)
export(curve.add.lp)
export(pareto2.confint.h.upper)
export(pareto2.confint.h.lower)
export(pareto2.confint.h)
export(pareto2.confint.rho.approx.lower)
export(pareto2.confint.rho.approx.upper)
export(pareto2.confint.rho.approx)
export(pareto2.confint.rho.upper)
export(pareto2.confint.rho.lower)
export(pareto2.confint.rho)
export(pareto2.zsestimate)
export(pareto2.mlekestimate)
export(pareto2.mleksestimate)
export(pareto2.ftest)
export(pareto2.goftest)
export(pareto2.htest.approx)
export(pareto2.htest)
export(rho.get)
export(Scopus_ImportSources)
export(Scopus_ReadCSV)
export(sqlNumericOrNULL)
export(sqlStringOrNULL)
export(sqlSwitchOrNULL)
export(sqlEscape)
export(sqlTrim)
export(sqlEscapeTrim)
